body {
  margin: 0px;
}

/* //// navbar ////  */
.navbar {
  background-color: #eaf292;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.links-container a {
  margin: 0px 20px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 17px;
}

/* /////// cover photo /// */

.cover {
  height: 300px;
  background-image: url("./cover2.jpg");
  background-position: center;
  background-size: cover;
  padding: 150px;
}

.cover h2 {
  font-size: 40px;
  color: white;
  letter-spacing: 1px;
}

.cover button {
  background-color: rgb(229, 229, 20);
  padding: 10px 25px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  transition: 1s;
}

.cover button:hover {
  transform: scale(1.1, 1.1);
  background-color: rgb(125, 125, 19);
  color: white;
}

.social-media-container {
  margin-top: 20px;
}

.social-media-container a {
  font-size: 30px;
  margin-right: 20px;
  color: white;
}

.social-media-container a:hover {
  color: black;
}


.services {
  
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
}

.card {
 box-shadow: 1px 1px 20px black;
 border-radius: 10px;
    width: 30%;
    height: 250px;
    margin: 0px 20px;
    padding: 0px 10px;
    transition: 1s;
}

.card:hover {
    transform: scale(1.1,1.1);
}


.logo {
    text-align: center;
    font-size: 100px;
}

.service-info {
   
    margin-top: 30px;
}

.service-info p {
    font-weight: 700;
}

.service-info div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}