body {
  margin: 0px;
}

/* //// navbar ////  */
.navbar {
  background-color: #eaf292;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.links-container a {
  margin: 0px 20px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 17px;
}

/* /////// cover photo /// */

.cover {
  height: 300px;
  background-image: url("./cover2.jpg");
  background-position: center;
  background-size: cover;
  padding: 150px;
}

.cover h2 {
  font-size: 40px;
  color: white;
  letter-spacing: 1px;
}

.cover button {
  background-color: rgb(229, 229, 20);
  padding: 10px 25px;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  transition: 1s;
}

.cover button:hover {
  transform: scale(1.1, 1.1);
  background-color: rgb(125, 125, 19);
  color: white;
}

.social-media-container {
  margin-top: 20px;
}

.social-media-container a {
  font-size: 30px;
  margin-right: 20px;
  color: rgb(30, 29, 29);
}

.social-media-container a:hover {
  color: rgb(155, 24, 24);
}

/* /// services /// */

.services {
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  box-shadow: 1px 1px 20px black;
  border-radius: 10px;
  width: 30%;
  height: 250px;
  margin: 0px 20px;
  padding: 0px 10px;
  transition: 1s;
}

.card:hover {
  transform: scale(1.1, 1.1);
}

.logo {
  text-align: center;
  font-size: 100px;
  transition: 1s;
}

.card:hover .logo {
  transform: rotate(360deg);
}

.service-info {
  margin-top: 30px;
}

.service-info p {
  font-weight: 700;
}

.service-info div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links-container a:hover {
  color: red;
}

.title {
  text-align: center;
  font-size: 90px;
  text-transform: uppercase;
}

/* /////// project --- section --- */

.project-card {
  box-shadow: 1px 1px 20px black;
  width: 20%;
  margin: 20px;
}

.project-card img {
  width: 100%;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-info {
  padding: 0px 8px;
}

/* ////// contact */
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-card {
  width: 30%;
  height: 260px;
  margin: 10px 30px;
  text-align: center;
  box-shadow: 1px 1px 20px black;
}

.contact-card .logo {
  margin-bottom: 50px;
}

.contact-card p {
  font-size: 20px;
  font-weight: 800;
}

/* ///// footer //////////// */
footer {
  background-color: #eaf292;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.social-media-container-footer a {
  color: black;
  margin: 0px 20px;
    font-size: 30px;
}
/* ////// body 100% ===> main 100% ==> projects 100% ===> projects-card 100% /// */

@media (max-width: 460px) {
  /* //// navbar ////  */

  .links-container a {
    font-size: 10px;
  }

  /* /////// cover photo /// */

  .cover {
    padding: 20px;
  }

  .cover h2 {
    font-size: 20px;
  }

  .cover button {
    padding: 10px 20px;

    font-size: 10px;
  }

  .title {
    font-size: 20px;
  }
  

  
.services {
  
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 180px;
    align-items: center;

    flex-wrap: wrap;
   
}

.card {
  box-shadow: 1px 1px 20px black;
  border-radius: 10px;
  width: 70%;
  height: 250px;
  margin: 20px 0px;
  padding: 0px 10px;
  transition: 1s;
}

.projects {
 
  flex-direction: column;
  align-items: center;
}

.project-card {
  
  width: 80%;

}

.contact {

  flex-direction: column;
  align-items: center;
}

.contact-card {
  width: 80%;

}


.social-media-container-footer a {
  color: black;
  margin: 8px;
  font-size: 15px;
 
}
footer h3 {
  font-size: 12px;
}

.social-media-container a {
  font-size: 25px;
  margin-right: 20px;
  color: rgb(30, 29, 29);
}
}



